
#customize-controls .control-section-beauty-parlour-elementor .accordion-section-title:hover,
#customize-controls .control-section-beauty-parlour-elementor .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-beauty-parlour-elementor .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background: #F9A392;
	color: #fff;
	border:0px solid #fff;
}

.rtl .control-section-beauty-parlour-elementor .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
