:root {
    --global--color-woo-accent: #676767;
    --global--color-woo-white: #fff;
    --global--color-woo-black: #000;
    --global--color-woo-btn-bg: #000;
    --global--color-woo-btn: #fff;
}

/* General & Widgets 
-------------------------------------- */
.woocommerce-store-notice,
p.demo_store,
.woocommerce span.onsale,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.wc_payment_method
    input.input-radio[name="payment_method"]:checked
    + label::before {
    background-color: var(--global--color-woo-accent);
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .stock,
.woocommerce ul.products li.product .price,
#add_payment_method .cart-collaterals .cart_totals .discount td,
.woocommerce-cart .cart-collaterals .cart_totals .discount td,
.woocommerce-checkout .cart-collaterals .cart_totals .discount td,
.woocommerce-message::before,
.woocommerce-info::before,
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a,
.woocommerce .star-rating::before,
.woocommerce .star-rating span::before,
.woocommerce p.stars a {
    color: var(--global--color-woo-accent);
}

.woocommerce div.product .out-of-stock {
    color: #ff0000;
}

.woocommerce-grouped-product-list-item__price p.stock.out-of-stock {
    margin: 0;
}

.woocommerce-grouped-product-list-item__quantity a.button {
    font-size: 65%;
}

.woocommerce a.remove {
    background-color: #ff0000;
    color: #fff !important;
    border-radius: 0;
}

.woocommerce .woocommerce-mini-cart a.remove {
    line-height: 1;
}

.woocommerce a.remove:hover {
    background-color: #000;
    color: var(--global--color-woo-white) !important;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
    border-left: none;
    padding: 0 0.2rem;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 1rem 1.5rem;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: var(--global--color-woo-accent);
    color: #fff;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.wp-block-product-category a.add_to_cart_button {
    color: var(--global--color-woo-btn);
    background-color: var(--global--color-woo-btn-bg);
    border-radius: var(--global--elements-border-radius-s);
    padding: 1.1rem 2.2rem;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.wp-block-product-category a.add_to_cart_button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: var(--global--color-woo-btn-bg);
    color: var(--global--color-woo-btn);
    opacity: 0.8;
}

/* New */
.wp-block-product-category a.add_to_cart_button:hover,
.wp-block-product-category a.add_to_cart_button:focus {
    text-decoration: none;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: var(--global--color-woo-btn-bg);
    color: var(--global--color-woo-btn);
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    background: none;
    border: none;
    width: 5.4rem;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: none;
    padding-top: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin-bottom: 0.5rem;
}

.woocommerce table.shop_attributes {
    border-top: 1px solid var(--global--color-woo-accent);
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
    border: none;
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
    margin-top: 0;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top: 3px solid var(--global--color-woo-accent);
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    text-decoration: none;
}

.woocommerce.widget_products ul.product_list_widget li img,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li img,
.woocommerce.widget_recent_reviews ul.product_list_widget li img,
.woocommerce.widget_top_rated_products ul.product_list_widget li img {
    float: right;
    margin-right: 0;
    margin-left: 2rem;
    width: 8rem;
}

/*Header cart & cart widget
----------------------------------------  */
.site-header-cart {
    position: relative;
}

.site-header-cart .widget_shopping_cart {
    background-color: var(--global--color-woo-white);
    -webkit-box-shadow: 0 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 9999rem;
    top: calc(100% + 2.1rem);

    padding: 2rem 1.5rem;
    width: 20rem;

    z-index: 99;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.15s linear, transform 0.15s linear;
    transform: translateY(0.6rem);
}

@media (min-width: 482px) {
    .site-header-cart .widget_shopping_cart {
        width: 25rem;
        padding: 2.5rem 2rem;
    }
}

@media (min-width: 822px) {
    .site-header-cart .widget_shopping_cart {
        top: calc(100% + 1.4rem);
        width: 30rem;
        padding: 2.5rem 2rem;
    }
}

.site-header-cart .widget_shopping_cart:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    border: 1rem solid transparent;
}

.site-header-cart:focus {
    outline: thin dotted;
}

.site-header-cart:hover .widget_shopping_cart,
.site-header-cart:focus .widget_shopping_cart {
    left: 0;
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
    transition: opacity 0.15s linear, transform 0.15s linear;
}

.site-header-cart .product_list_widget {
    margin: 0;
    padding: 0;
}

.woocommerce-mini-cart__buttons.buttons {
    margin-bottom: 0;
}

span.blogprise-woo-counter {
    position: absolute;
    right: 60%;
    top: -40%;

    width: 1.6rem;
    height: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--global--color-woo-accent);
    color: #fff;

    border-radius: 50%;

    font-size: 1rem;
    font-weight: 700;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    width: 8rem;
    float: right;
    margin-left: 2rem;
    margin-right: 0;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    right: auto;
    left: 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
    padding-right: 0;
}

.widget_shopping_cart .buttons a.button {
    font-size: 64%;
}

@media (min-width: 482px) {
    .widget_shopping_cart .buttons a.button {
        font-size: 80%;
    }
}

@media (min-width: 822px) {
    .widget_shopping_cart .buttons a.button {
        font-size: 90%;
    }
}

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
    border: none;
    padding: 0;
    display: inline-block;
}

.woocommerce ul.cart_list li .quantity,
.woocommerce ul.product_list_widget li .quantity {
    display: block;
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
    padding: 0;
    margin: 0;
}

.woocommerce .widget_shopping_cart .cart_list li:not(:last-child),
.woocommerce.widget_shopping_cart .cart_list li:not(:last-child) {
    margin-bottom: 1.2rem;
    border-bottom: 1px solid var(--global--color-woo-accent);
}

.woocommerce ul.cart_list li::after,
.woocommerce ul.product_list_widget li::after {
    margin-bottom: 1.2rem;
}

/*Product Listings
----------------------------------------  */
.woocommerce .woocommerce-breadcrumb a {
    color: var(--global--color-woo-black);
    text-decoration: none;
}
.woocommerce .woocommerce-breadcrumb a:hover {
    text-decoration: underline;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-weight: 700;
    font-size: 1.8rem;
}
.woocommerce ul.products li.product a:hover .woocommerce-loop-product__title {
    text-decoration: underline;
}
.woocommerce ul.products li.product-category .woocommerce-loop-category__title {
    text-align: center;
}

.woocommerce ul.products li.product-category a:hover {
    text-decoration: underline;
}

.woocommerce .product .added_to_cart,
.wp-block-product-category .wp-block-button .added_to_cart {
    display: none;
}

.woocommerce span.onsale {
    min-height: 0;
    min-width: 0;
    line-height: 1.236;
    background: #fff;
    border: 1px solid #43454b;
    border-radius: 4px;
    color: #43454b;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 600;
    right: auto;
    padding: 0.25em 0.75em;
    position: absolute;
    left: 4px;
    text-align: center;
    text-transform: uppercase;
    top: 4px;
    width: auto;
    z-index: 9;
}

.woocommerce ul.products li.product .onsale {
    margin: 0.5em;
}
.woocommerce-ordering .orderby:focus {
    outline: 1px solid var(--global--color-woo-accent);
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.blogprise-archive-products-details {
    background-color: var(--global--card-bg);
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.blogprise-archive-products-details .woocommerce-loop-product__link {
    display: grid;
    justify-items: center;
    align-items: center;
}

.blogprise-archive-products-details a.button {
    font-size: 90%;
}
.woocommerce ul.products li.product .button {
    margin-bottom: 2em;
}
.woocommerce .products .star-rating {
    display: inline-block;
}

/* Single page
-------------------------------------------------------------- */
.woocommerce .product_meta {
    display: grid;
    gap: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.woocommerce .quantity .qty {
    padding: 1rem 0.6rem;
}
.woocommerce .product_meta > span span,
.woocommerce .product_meta > span a {
    display: inline-block;
    margin-right: 0.5rem;
}

/*Tabs
------------------------------- */
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid var(--global--color-woo-accent);
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    text-align: center;
    margin-bottom: 6rem;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin-bottom: 3rem;
}

.woocommerce #review_form #respond p {
    margin-bottom: 2rem;
}

.woocommerce #review_form #respond p.comment-notes {
    display: none;
}
.woocommerce #review_form #respond p.form-submit {
    text-align: right;
}

@media (min-width: 700px) {
    .woocommerce #review_form #respond .comment-form-email {
        margin-right: 2rem;
    }
}

.woocommerce
    div.product
    .woocommerce-tabs
    .panel
    .woocommerce-Reviews
    .woocommerce-noreviews {
    margin-bottom: 2rem;
}
.woocommerce-Reviews-title {
    margin-bottom: 3rem;
}
.woocommerce #review_form_wrapper {
    margin-top: 3rem;
}
.woocommerce #review_form_wrapper {
    overflow: hidden;
    padding: 3.2rem;
    border: 1rem solid var(--global--color-gray-300);
}
@media screen and (min-width: 992px) {
    .woocommerce #review_form_wrapper {
        padding: 4.2rem;
    }
}
.woocommerce-Reviews #reply-title {
    display: block;
    font-family: var(--heading--font-family);
    font-weight: var(--heading--font-weight);
    font-size: var(--heading--font-size-h3);
    line-height: var(--global--line-height-heading);
    letter-spacing: var(--heading--letter-spacing);
}

.woocommerce #review_form #respond p.comment-form-comment {
    margin-top: 3rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
    outline: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: none;
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: var(--global--color-primary);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: var(--global--color-woo-accent);
    color: #fff;
    border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
    border: none;
    box-shadow: none;
}

.woocommerce table.shop_attributes td p {
    padding-right: 2rem;
}

.woocommerce div.product .woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 6rem;
}

.woocommerce div.product .related.products {
    padding-top: 3rem;
}

/* Cart
------------------------------------------- */
.woocommerce table.shop_table,
.woocommerce table.shop_table thead th,
.woocommerce table.shop_table thead td,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tbody td,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    border: none;
    border-collapse: collapse;
}

.woocommerce table.shop_table thead {
    color: var(--global--color-woo-black);
    font-size: 2rem;
}

.woocommerce-cart-form table.shop_table .product-thumbnail {
    width: 15%;
}

.woocommerce-cart-form table.shop_table .product-thumbnail img {
    width: 120px;
}

.woocommerce-cart-form table.shop_table td.actions .coupon .input-text {
    width: 200px;
}

.woocommerce-cart-form table.shop_table input.qty {
    display: inline-block;
}

.woocommerce-cart-form table.shop_table thead {
    border-bottom: 2px solid var(--global--color-woo-accent);
}

.woocommerce-cart-form table.shop_table tbody tr td {
    padding-top: 0;
    padding-bottom: 3rem;
}

.woocommerce-cart-form table.shop_table tbody tr:first-child td {
    padding-top: 3rem;
}

.woocommerce-cart-form table.shop_table tbody tr:last-child {
    border-top: 2px solid var(--global--color-woo-accent);
}

.woocommerce-cart-form table.shop_table tbody tr:last-child td {
    padding-top: 3rem;
    padding-bottom: 0;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    padding-top: 3rem;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    padding: 0.8rem 1rem;
}

@media only screen and (max-width: 768px) {
    /* Layout */
    .woocommerce-cart-form table.shop_table tbody tr td {
        padding-top: 0;
        padding-bottom: 0.5rem;
    }

    .woocommerce-cart-form table.shop_table tbody tr:first-child td {
        padding-top: 0;
        padding-bottom: 0.5rem;
    }

    .woocommerce table.shop_table_responsive tr,
    .woocommerce-page table.shop_table_responsive tr {
        padding: 1rem 0;
        position: relative;
    }

    /* Remove background from the  */
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: none;
    }

    /* Coupon code */
    #site-content .woocommerce .woocommerce-cart-form #coupon_code {
        width: 100%;
        margin-bottom: 1rem;
    }
    #site-content .woocommerce .woocommerce-cart-form .actions .coupon button {
        width: 100%;
    }

    /* Thumbnail */
    .woocommerce table.shop_table_responsive tr .product-thumbnail,
    .woocommerce-page table.shop_table_responsive tr .product-thumbnail {
        display: block;
        width: 30%;
    }

    .woocommerce table.shop_table_responsive tr .product-thumbnail::before,
    .woocommerce-page
        table.shop_table_responsive
        tr
        .product-thumbnail::before {
        content: "";
    }

    /* Remove button */
    .woocommerce table.shop_table_responsive tbody tr td a.remove,
    .woocommerce-page table.shop_table_responsive tbody tr td a.remove {
        position: absolute;
        top: 1.5rem;
        right: 1.2rem;
    }
}

/*Checkout
------------------------------------------*/

.woocommerce-checkout form[name="checkout"] {
    display: table;
    width: 100%;
}
.woocommerce-checkout form .col2-set {
    width: 50%;
    float: right;
    padding-left: 1.5vw;
}

.woocommerce-checkout form .col2-set .col-1,
.woocommerce-checkout form .col2-set .col-2 {
    float: none;
    width: 100%;
}

.woocommerce-checkout form #order_review,
.woocommerce-checkout form #order_review_heading {
    width: 50%;
    padding-right: 1.5vw;
    float: left;
    clear: left;
}

.woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-shipping-fields h3,
.woocommerce-checkout .woocommerce-additional-fields h3 {
    margin-top: 4rem;
}
.woocommerce-checkout form #order_review_heading {
    margin-top: 4rem;
}

.woocommerce-checkout form #order_review tbody td,
.woocommerce-checkout form #order_review_heading tbody td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.woocommerce-checkout
    form
    #order_review
    .woocommerce-checkout-review-order-table,
.woocommerce-checkout
    form
    #order_review_heading
    .woocommerce-checkout-review-order-table {
    margin: 2.85rem 0;
}

.woocommerce-checkout
    form
    #order_review
    .woocommerce-checkout-review-order-table
    thead,
.woocommerce-checkout
    form
    #order_review_heading
    .woocommerce-checkout-review-order-table
    thead {
    display: none;
}

.woocommerce-checkout
    form
    #order_review
    .woocommerce-checkout-review-order-table
    tfoot,
.woocommerce-checkout
    form
    #order_review_heading
    .woocommerce-checkout-review-order-table
    tfoot {
    font-size: 1.8rem;
    color: var(--global--color-woo-black);
    border-top: 1px solid var(--global--color-woo-accent);
}

.woocommerce-checkout
    form
    #order_review
    .woocommerce-checkout-review-order-table
    tbody
    tr:last-child
    td,
.woocommerce-checkout
    form
    #order_review_heading
    .woocommerce-checkout-review-order-table
    tbody
    tr:last-child
    td {
    padding-bottom: 2rem;
}

.woocommerce-checkout form #order_review tfoot th,
.woocommerce-checkout form #order_review_heading tfoot th,
.woocommerce-checkout form #order_review tfoot td,
.woocommerce-checkout form #order_review_heading tfoot td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.woocommerce-checkout form #order_review tfoot tr:first-child th,
.woocommerce-checkout form #order_review_heading tfoot tr:first-child th,
.woocommerce-checkout form #order_review tfoot tr:first-child td,
.woocommerce-checkout form #order_review_heading tfoot tr:first-child td {
    padding-top: 2rem;
}

/* Payment Section */

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: none;
}

.wc_payment_method input.input-radio[name="payment_method"] {
    display: none;
}

.wc_payment_method label {
    cursor: pointer;
}

.wc_payment_method input.input-radio[name="payment_method"] + label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px var(--global--color-woo-accent);
    background: #fff;
    margin-right: 4px;
    margin-left: 1.2rem;
    border-radius: 100%;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.woocommerce-checkout-review-order #place_order {
    width: 100%;
    padding: 2rem;
}

.woocommerce form .form-row textarea {
    height: 12rem;
}

.woocommerce form .form-row .input-checkbox {
    display: inline-block;
    margin: 0;
    text-align: initial;
    vertical-align: baseline;
}

@media only screen and (max-width: 768px) {
    .woocommerce-checkout form .col2-set {
        width: 100%;
        float: none;
        padding-left: 0;
    }
    .woocommerce-checkout form .col2-set .col-1,
    .woocommerce-checkout form .col2-set .col-2 {
        float: none;
        width: 100%;
    }
    .woocommerce-checkout form #order_review,
    .woocommerce-checkout form #order_review_heading {
        width: 100%;
        padding-right: 0;
        float: none;
    }
}

/* Order received
------------------------------------- */
.woocommerce ul.order_details li {
    float: none;
    padding: 1rem 0;
    font-size: 2rem;
    border: 0;
}

.woocommerce ul.order_details li strong {
    font-size: 1.6rem;
}

.woocommerce-order-received .woocommerce-order p {
    color: var(--global--color-woo-black);
}

.woocommerce ul.order_details {
    margin-bottom: 2rem;
}

.woocommerce .woocommerce-customer-details address {
    border: 1px solid var(--global--color-woo-accent);
    border-radius: 0;
}

.woocommerce-order-details .woocommerce-table a {
    text-decoration: none;
}

.woocommerce-order-details .woocommerce-table thead {
    border-bottom: 2px solid var(--global--color-woo-accent);
}

.woocommerce-order-details .woocommerce-table tr th,
.woocommerce-order-details .woocommerce-table tr td,
.woocommerce-order-details .woocommerce-table tfoot tr th,
.woocommerce-order-details .woocommerce-table tfoot tr td {
    padding: 0.4rem 0;
}

.woocommerce-order-details .woocommerce-table tr:first-child th,
.woocommerce-order-details .woocommerce-table tr:first-child td {
    padding-top: 2rem;
}

.woocommerce-order-details .woocommerce-table tr:last-child th,
.woocommerce-order-details .woocommerce-table tr:last-child td {
    padding-bottom: 2rem;
}

.woocommerce-order-details .woocommerce-table tfoot tr:first-child th,
.woocommerce-order-details .woocommerce-table tfoot tr:first-child td {
    padding-top: 2rem;
}

.woocommerce-order-details .woocommerce-table tfoot {
    border-top: 2px solid var(--global--color-woo-accent);
}

/* My account 
-------------------------------------------------*/
.woocommerce-account .entry-content .woocommerce {
    padding-top: 6rem;
}

.woocommerce form.login,
.woocommerce form.register {
    border-color: var(--global--color-woo-accent);
    border-radius: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
    padding: 2rem;
}

.woocommerce-account .entry-content .woocommerce {
    border-top: 3px solid var(--global--color-woo-accent);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li:first-child {
    padding-top: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
    text-decoration: none;
    font-weight: 500;
}

.woocommerce-account
    .woocommerce-MyAccount-content
    .woocommerce-EditAccountForm
    .woocommerce-Button {
    margin-top: 2rem;
}

.woocommerce-account
    .woocommerce-MyAccount-content
    .woocommerce-Addresses
    .woocommerce-Address {
    float: none;
    width: 100%;
}

/* Dark Mode */
[data-theme="dark"] {
    --global--color-woo-accent: #6a6767;
    --global--color-woo-white: #1e1e1e;
    --global--color-woo-black: #fff;
    --global--color-woo-btn-bg: #fff;
    --global--color-woo-btn: #1e1e1e;
}
[data-theme="dark"] .woocommerce a.remove:hover {
    background-color: #ff0000;
}
[data-theme="dark"] .woocommerce .woocommerce-cart-form button:disabled {
    color: #1e1e1e !important;
}

/* Blocks css */
.entry-content
    a:is(
        .wc-block-components-checkout-return-to-cart-button,
        .wc-block-components-totals-coupon-link,
        .wc-block-components-totals-shipping__change-address__link,
        .wc-block-cart__submit-button,
        .wc-block-components-product-name
    ),
.entry-content :is(.product_meta, .wc-block-review-list) a,
.entry-summary .product_meta a {
    text-decoration: none;
}
.wc-block-grid__product-add-to-cart.wp-block-button
    .wp-block-button__link:hover,
.wc-block-grid__product-add-to-cart.wp-block-button
    .wp-block-button__link:focus {
    color: #fff;
}
.wc-block-grid__product-add-to-cart .added_to_cart {
    margin-right: 0.8rem;
}
.wc-block-grid__products {
    font-size: 1.8rem;
}
.wc-block-grid__product-rating,
.wc-block-grid__product-price,
.wc-block-components-review-list-item__rating {
    color: var(--global--color-woo-accent);
}
.wc-block-components-review-list-item__rating
    > .wc-block-components-review-list-item__rating__stars
    span:before {
    color: var(--global--color-woo-accent) !important;
}
